h1{
    font-size: 48px;
    color: grey;
    text-shadow: 2px 2px 4px #000000;

}
p, h2{
    color:grey;

}

body{
    text-align: left;
    font-family: sans-serif;
    color: #080b12;
    background-color: #080b12;
    box-shadow: #071c68 ;
}
.home-button, .discord-button, .about_me-button{
   color: grey;
   display: inline-block;
   padding: 20px;
   background-color: transparent;
   text-decoration: none;
   text-shadow: 2px 2px 4px #071c68;
   font-size: 20px;
   border-radius: 10px;
   margin-right: 25px;

}
.top-bottons{
    top: 20%;
    left:20%;
    position:absolute;
    
}

.discord-button:hover, .home-button:hover, .about_me-button:hover {
       color:#0f2577;
}
.container {
    position: absolute;
    top: 20%;
    left: 10%;
    transform: translate(-50%, -50%);
}
